speechrecognition
pyttsx3
pyaudio
pywhatkit
wikipedia
pyjokes
setuptools
sentence-transformers
uvicorn
ctransformers
fastapi
ipykernel
langchain
python-box
ultralytics
opencv-python
opencv-contrib-python
streamlit